<!DOCTYPE html><html lang="en"><head><meta charset="utf-8" />
<title>Data Visualization Demo in Flask and ChartJS</title> 
    <meta charset="utf-8" />
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css" rel="stylesheet">
    <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
</head>
<body>
  <div class="container">
   <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation" class="active"><a href="/chart4">Map</a></li>
            <li role="presentation"><a href="/chart">Bar Chart</a></li>
            <li role="presentation"><a href="/chart2">Line Chart</a></li>
            <li role="presentation"><a href="/chart3">Pie Chart</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Flask ChartJS</h3>
    </div>
    <div id="map" style="width: 600px; height: 400px"></div>
    <footer class="footer">
          <p>&copy; Vizualization Demo</p>
    </footer>
  </div>
    <script
        src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js">
    </script>

    <script>
       var map = L.map('map').setView([22.2705, 114.1500], 13);

       L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo( map );

       L.marker([22.2705, 114.1500]).addTo(map)
          .bindPopup('The Peak')
          .openPopup();
    </script>
</body>
</html>
